<div class="large-10 columns">
    <label class="label">Skills:</label>
    <ul id="skill_list" class="inline-list skills_list">
        <% @profile.skills.each do |skill| %>
            <li id="skill_list_item<%= skill.id %>">
                <a href="#" data-dropdown="drop<%= skill.id %>" class="button dropdown success round label"><%= skill.name %></a>
                <ul id="drop<%= skill.id %>" class="f-dropdown">
                    <li><%= link_to "Delete", profile_skill_path(@profile, skill), method: :delete, remote: true %>
                    </li>
                </ul>
            </li>
        <% end %>
    </ul>
</div>

